*{
    padding: 0px;
    margin: 0px;
    border: none;
}
.khoi1{
    width: 100px;
    height: 10px;
    border: 1px solid black;
    position: relative;
}
.khoi2{
    width: 0;
    height: 10px;
    background-color:black;
}
